@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav{
    font-family:"Ubuntu", sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family:"Ubuntu", sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
    background-size: cover;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;

}
.songItem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 12px 0;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
    font-family:"Ubuntu", sans-serif;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in ;
}